In [2]:
# Import the dependencies.
import pandas as pd #We'll use Pandas to read our CSV file and create the locations and measurements from the DataFrame.
import gmaps #We'll use gmaps and the API key to create heatmaps and the locations map,
import requests #requests dependency to make a request to the Google Places JSON file
# Import the API key.
from config import gkey

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
gmaps.configure(api_key=gkey)

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
  #locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
  #temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
  #fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
  #heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
  #fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
  #fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] #this calls another DataFrame 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [33]:
#filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hilo,US,2021-05-30 18:24:36,19.7297,-155.0900,86.29,75,40,5.75
31,31,Saint George,US,2021-05-30 18:23:51,37.1041,-113.5841,93.67,12,1,3.00
35,35,Cabo San Lucas,MX,2021-05-30 18:22:38,22.8909,-109.9124,95.81,47,1,4.61
43,43,Rey Bouba,CM,2021-05-30 18:24:45,8.6724,14.1786,94.55,29,100,3.44
49,49,Sur,OM,2021-05-30 18:24:46,22.5667,59.5289,90.82,50,60,11.97
51,51,Kaka,TM,2021-05-30 18:24:46,37.3482,59.6143,93.83,9,1,7.52
52,52,Adrar,MR,2021-05-30 18:24:41,20.5022,-10.0711,82.71,42,69,40.00
53,53,Atuona,PF,2021-05-30 18:24:47,-9.8000,-139.0333,80.11,61,74,7.99
57,57,Oistins,BB,2021-05-30 18:24:48,13.0667,-59.5333,80.69,65,75,25.32
61,61,Vila Velha,BR,2021-05-30 18:20:59,-20.3297,-40.2925,85.96,66,0,8.01

In [34]:
preferred_cities_df.count() #checks for nulls

City_ID       128
City          128
Country       128
Date          128
Lat           128
Lng           128
Max Temp      128
Humidity      128
Cloudiness    128
Wind Speed    128
dtype: int64

In [37]:
preferred_cities_df.isnull().sum() #checks for nulls (another way)
#preferred_cities_df.notnull().sum() #checks for nulls (another way)

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
#Make a copy of the preferred_cities_df DataFrame and name it hotel_df. keep the columns "City," "Country," "Max Temp," "Lat," and "Lng."
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy() 
hotel_df["Hotel Name"] = "" #Adds a new column to the hotel_df DataFrame to hold the name of the hotel.
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2             Hilo      US     86.29  19.7297 -155.0900
31    Saint George      US     93.67  37.1041 -113.5841
35  Cabo San Lucas      MX     95.81  22.8909 -109.9124
43       Rey Bouba      CM     94.55   8.6724   14.1786
49             Sur      OM     90.82  22.5667   59.5289
51            Kaka      TM     93.83  37.3482   59.6143
52           Adrar      MR     82.71  20.5022  -10.0711
53          Atuona      PF     80.11  -9.8000 -139.0333
57         Oistins      BB     80.69  13.0667  -59.5333
61      Vila Velha      BR     85.96 -20.3297  -40.2925

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows(): #use the iterrows() function to perform the iteration; however,need to provide the index and the row in the for loop using this syntax: for index, row in df.iterrows().
   
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hilo,US,86.29,19.7297,-155.0900,Hilo Hawaiian Hotel
31,Saint George,US,93.67,37.1041,-113.5841,Best Western Plus Abbey Inn
35,Cabo San Lucas,MX,95.81,22.8909,-109.9124,Tesoro Los Cabos
43,Rey Bouba,CM,94.55,8.6724,14.1786,
49,Sur,OM,90.82,22.5667,59.5289,Sur Plaza Hotel
51,Kaka,TM,93.83,37.3482,59.6143,
52,Adrar,MR,82.71,20.5022,-10.0711,
53,Atuona,PF,80.11,-9.8000,-139.0333,Villa Enata
57,Oistins,BB,80.69,13.0667,-59.5333,Butterfly Beach Hotel
61,Vila Velha,BR,85.96,-20.3297,-40.2925,Quality Suites Vila Velha

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Add a heatmap of temperature for the vacation spots and marker for each city with markers. the syntax is markers = gmaps.marker_layer(marker_locations)
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [54]:
# Store the DataFrame Row.
# set the hotel_info equal to the info_box_content
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
#In the list comprehension above we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with the data we set to populate the from each row.

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))