## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Maine-Soroa,NE,86.05,overcast clouds,13.2114,12.0241,Complexe
1,6,Akyab,MM,82.09,light rain,20.1500,92.9000,Hotel Memory
2,12,Padang,ID,84.33,broken clouds,-0.9492,100.3543,Mercure Padang
3,13,Victoria,HK,87.96,scattered clouds,22.2855,114.1577,Mini Hotel Central
4,17,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
 #            max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Westport")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Westport")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Haverhill")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Palmer")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Bethel")]

vacation_end

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
53,165,Westport,US,84.97,clear sky,41.1415,-73.3579,The Westport Inn

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([41.1415, -73.3579], dtype=object)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
westport = (41.1415, -73.3579)
haverhill = (42.7762, -71.0773)
palmer = (46.6001, -73.9662)
bethel = (41.3712, -73.414)


fig = gmaps.figure(center=(45.0, -70.0), zoom_level=4.5)
fig = gmaps.figure(layout={'width': '900', 'height': '900px'})

westport = start
haverhill = stop1
palmer = stop2
bethel = stop3
trip_for_day = gmaps.directions_layer(westport, westport, waypoints=[haverhill,palmer,bethel], travel_mode='DRIVING')
fig.add_layer(trip_for_day)
fig

Figure(layout=FigureLayout(height='900px', width='900'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,165,Westport,US,84.97,clear sky,41.1415,-73.3579,The Westport Inn
1,559,Haverhill,US,80.33,clear sky,42.7762,-71.0773,Best Western Merrimack Valley
2,258,Palmer,US,77.41,broken clouds,42.1584,-72.3287,Wedgewood Motel
3,64,Bethel,US,79.92,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=4.5)
fig = gmaps.figure(layout={'width': '900', 'height': '900px'}) 
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
 #            max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='900px', width='900'))